@import 'common';
#header {
    .container {
        .logo {
            > a {
                background-image: url(/content/assets/images/logo_default.png);
            }
        }
    }
}

#content {
	padding-bottom: 50px;
	@media(min-width: $md) {
		padding-bottom: 100px;
	}
}

/* jumbotron */
.jumbotron {
	display: block;
    .jumbo-slider {
        position: relative;
        .slick-list {
            .slick-track {
                .slick-slide {
                    > a {
                        display: block;
                        width: 100%;
                        height: 100vh;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: cover;
                    }
                    &.slide-1 {
                        > a {
                            background-image: url(/content/assets/images/main/bg_jumbotron01_sm.jpg);
                        }
                    }
                    &.slide-2 {
                        > a {
                            background-image: url(/content/assets/images/main/bg_jumbotron02_sm.jpg);
                        }
                    }
                    &.slide-3 {
                        > a {
                            background-image: url(/content/assets/images/main/bg_jumbotron03_sm.jpg);
                        }
                    }
                    &.slide-4 {
                        > a {
                            background-image: url(/content/assets/images/main/bg_jumbotron04_sm.jpg);
                        }
                    }
                    &.slide-5 {
                        > a {
                            background-image: url(/content/assets/images/main/bg_jumbotron05_sm.jpg);
                        }
                    }
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            display: block;
            font-size: 0;
            text-indent: -99999999px;
            transform: translateY(-50%);
            &:before {
                display: block;
                font-size: 30px;
                text-indent: 0;
                color: #333;
                font-family: 'fontello';
            }
            &.slick-prev {
                left: 10px;
                &:before {
                    content: '\E801';
                }
            }
            &.slick-next {
                right: 10px;
                &:before {
                    content: '\E802';
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 100%;
            text-align: center;
            > li {
                display: inline-block;
                > button {
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    margin: 0 5px;
                    text-indent: -999999px;
                    background-color: #fff;
                }
                &.slick-active {
                    > button {
                        background-color: #333;
                    }
                }
            }
        }
    }
	@media(min-width: $md) {
        .jumbo-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        &.slide-1 {
                            > a4{
                                background-image: url(/content/assets/images/main/bg_jumbotron01_lg.jpg);
                            }
                        }
                        &.slide-2 {
                            > a {
                                background-image: url(/content/assets/images/main/bg_jumbotron02_lg.jpg);
                            }
                        }
                        &.slide-3 {
                            > a {
                                background-image: url(/content/assets/images/main/bg_jumbotron03_lg.jpg);
                            }
                        }
                        &.slide-4 {
                            > a {
                                background-image: url(/content/assets/images/main/bg_jumbotron04_lg.jpg);
                            }
                        }
                        &.slide-5 {
                            > a {
                                background-image: url(/content/assets/images/main/bg_jumbotron05_lg.jpg);
                            }
                        }
                    }
                }
            }
            .slick-arrow {
                &:before {
                    font-size: 60px;
                }
                &.slick-prev {
                    left: 5%;
                }
                &.slick-next {
                    right: 5%;
                }
            }
            .slick-dots {
                bottom: 60px;
            }
        }
	}
}


/* shop */
.shop {
	padding-bottom: 50px;
	.container {
		.section-header {
			position: relative;
			overflow: hidden;
			padding: 40px 0 25px;
			border-bottom: 1px solid #ccc;
			h3 {
				font-size: 30px;
				color: #333;
				font-weight: bold;
				float: left;
			}
			> .btn-more {
				position: relative;
				display: inline-block;
				float: right;
				font-size: 20px;
				font-weight: 400;
				color: #666;
				line-height: 30px;
				@include transition();
				&:hover {
					color: $kcolor;
				}
			}
		}
		.section-content {
			padding-top: 25px;
			> ul {
				> li {
					> .item {
						position: relative;
						font-size: 0;
						> a {
							position: relative;
							display: block;
							overflow: hidden;
							border-radius: 10px;
							border: 1px solid #ccc;
							img {
								width: 100%;
								@include transition($duration: .3s, $timing: ease);
								&.visible-lg {
									display: none;
								}
							}
						}
						.btn-list {
							position: absolute;
							bottom: 15px;
							left: 0;
							width: 100%;
							z-index: 1;
							overflow: hidden;
							padding: 0 10px;
							text-align: right;
							> li {
								display: inline-block;
								vertical-align: top;
								text-align: center;
								padding: 0 2.5px;
								> a {
									position: relative;
									display: block;
									font-size: 20px;
									width: 30px;
									height: 30px;
									text-align: center;
									&:before {
										position: absolute;
										top: 50%;
										left: 50%;
										font-family: 'fontello';
										color: #333;
										margin: 0;
										@include transition();
										transform: translate(-50%, -50%);
									}
									&:hover {
										&:before {
											color: $kcolor;
										}
									}
									&.btn-like {
										&:before {
											content: '\E809';
										}
										&.on {
											&:before {
												color: $kcolor;
												content: '\E808';
											}
										}
									}
									&.btn-cart {
										&:before {
											content: '\E804';
										}
									}
								}
								&:first-child {
									float: left;
								}
							}
						}
					}
					> .details {
						display: block;
						padding: 10px 0;
                        > p {
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-size: 12px;
                            clear: both;
                            font-weight: bold;
                            margin-bottom: 5px;
                            &.sold-out {
                                color: #ff0000;
                            }
                            &.new {
                                color: #fdcb33;
                            }
                            &.sale {
                                color: #a6dd27;
                            }
                        }
						h4 {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 16px;
							color: #333;
							font-weight: 500;
							@include transition();
						}
						small {
							display: inline-block;
							font-size: 14px;
							color: #999;
							line-height: 20px;
							margin-top: 10px;
							margin-right: 15px;
							text-decoration: line-through;
						}
						b {
							display: inline-block;
							font-size: 16px;
							font-weight: bold;
							line-height: 20px;
							color: $kcolor;
							margin-top: 10px;
						}
					}
					&:hover {
						.item {
							> a {
								img {
									transform: scale(1.1);
								}
							}
						}
						.details {
							h4 {
								font-weight: bold;
							}
						}
					}
					& ~ li {
						margin-top: 20px;
					}
				}
			}
		}
	}
	@media(min-width: $md) {
		padding-bottom: 100px;
		.container {
			.section-header {
				padding: 100px 0 20px;
				h3 {
					font-size: 24px;
				}
				.btn-more {
					font-size: 16px;
					line-height: 24px;
				}
			}
			.section-content {
				padding-top: 50px;
				> ul {
                    overflow: hidden;
                    width: calc(100% + 20px);
                    margin: 0 -10px;
                    > li {
                        float: left;
                        width: 25%;
                        padding: 0 10px;
                        > .item {
                            > a {
                                > img {
                                    &.visible-sm {
                                        display: none;
                                    }
                                    &.visible-lg {
                                        display: block;
                                    }
                                }
                            }
                        }
                        .details {
                            text-align: right;
                            table-layout: fixed;
                            padding: 30px 20px 20px;
                            h4 {
                                font-size: 25px;
                                display: block;
                                vertical-align: top;
                                line-height: 30px;
                                margin-bottom: 10px;
                            }
                            small {
                                display: inline-block;
                                vertical-align: top;
                                font-size: 18px;
                                line-height: 30px;
                                margin: 0;
                                margin-right: 30px;
                            }
                            b {
                                display: inline-block;
                                vertical-align: top;
                                font-size: 20px;
                                line-height: 30px;
                                margin: 0;
                            }
                        }
                        & ~ li {
                            margin-top: 0;
                        }
                        &:nth-of-type(4) ~ li {
                            margin-top: 40px;
                        }
                        &:nth-of-type(4n + 1) {
                            clear: both;
                        }
                    }
                }
			}
		}
	}
}

/* banner */
.banner {
	> a {
		position: relative;
		display: block;
		overflow: hidden;
		font-size: 0;
		> figure {
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				z-index: 1;
				content: '';
				background-color: rgba(#000, .5);
				@include transition();
			}
			img {
				width: 100%;
				@include transition($duration: 1s, $timing: ease);
			}
		}
		.summary {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			z-index: 2;
			transform: translateY(-50%);
			.container {
				p {
					font-size: 20px;
					font-weight: bold;
					color: #fff;
					line-height: 32px;
				}
			}
		}
		&:hover {
			> figure {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	@media(min-width: $md) {
		> a {
			.summary {
				.container {
					position: relative;
					p {
						font-size: 40px;
						line-height: 56px;
						&:after {
							position: absolute;
							top: 50%;
							right: 10%;
							font-size: 30px;
							color: #fff;
							opacity: 0;
							display: block;
							font-family: 'fontello';
							content: '\E802';
							transform: translateY(-50%);
							@include transition($duration: .3s, $timing: ease-in-out);
						}
					}
				}
			}
			&:hover {
				.summary {
					.container {
						p {
							&:after {
								opacity: 1;
								right: 0;
								color: $kcolor;
							}
						}
					}
				}
			}
		}
	}
}

/* popup */
.modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: none;
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
        background-color: rgba(#000, .7);
    }
    .modal-content {
        position: relative;
        width: 100%;
        height: 100%;
        .cart-pop {
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 40px);
            max-width: 600px;
            height: 550px;
            margin: 0 auto;
            z-index: 2;
            transform: translate(-50%, -50%);
            background-color: #fff;
            .pop-head {
                overflow: hidden;
                padding-left: 20px;
                background-color: #2d3047;
                h3 {
                    float: left;
                    display: inline-block;
                    font-size: 15px;
                    color: #fff;
                    line-height: 40px;
                    font-weight: 500;
                }
                .pop-close {
                    display: inline-block;
                    float: right;
                    width: 40px;
                    font-size: 20px;
                    color: #fff;
                    height: 40px;
                    line-height: 40px;
                }
            }
            .pop-body {
                padding: 20px;
                height: 300px;
                overflow-y: auto;
                > strong {
                    display: block;
                    font-size: 15px;
                    color: #333;
                    padding-bottom: 20px;
                    border-bottom: 1px dotted #000;
                }
                .option {
                    display: table;
                    width: 100%;
                    padding-top: 20px;
                    > div {
                        display: table-cell;
                        &.item {
                            display: table-cell;
                            vertical-align: middle;
                            width: 30%;
                            img {
                                width: 100%;
                            }
                        }
                        &.selection {
                            display: table-cell;
                            vertical-align: middle;
                            width: 70%;
                            padding-left: 10px;
                            > dl {
                                > dt {
                                    font-size: 13px;
                                    color: #333;
                                    font-weight: 500;
                                }
                                > dd {
                                    margin-top: 10px;
                                    .form-group {
                                        .form-control {
                                            display: block;
                                            height: 30px;
                                            width: 100%;
                                            font-size: 13px;
                                            color: #333;
                                            font-weight: 400;
                                            padding: 0 10px;
                                            border: 1px solid #333;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .attention {
                    position: relative;
                    font-size: 13px;
                    line-height: 18px;
                    font-weight: 400;
                    color: #f76560;
                    margin: 10px 0;
                    padding-left: 20px;
                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .table-wrap {
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    .table {
                        width: 100%;
                        tbody {
                            tr {
                                td {
                                    font-size: 12px;
                                    font-weight: 400;
                                    padding: 5px;
                                    vertical-align: middle;
                                    border-bottom: 1px solid #eaeaea;
                                    b {
                                        display: block;
                                        font-weight: 500;
                                    }
                                    p {
                                        color: #757575;
                                        margin-top: 5px;
                                    }
                                    > strong {
                                        font-weight: 500;
                                        color: $kcolor;
                                    }
                                    .control-box {
                                        width: 80px;
                                        font-size: 0;
                                        .form-group {
                                            display: inline-block;
                                            vertical-align: top;
                                            position: relative;
                                            width: 50px;
                                            padding-right: 19px;
                                            .form-control {
                                                width: 100%;
                                                height: 25px;
                                                padding: 0;
                                                padding: 0 3px;
                                                text-align: left;
                                                border-radius: 0;
                                                border: 1px solid #ddd;
                                            }
                                            button {
                                                position: absolute;
                                                right: 0;
                                                width: 20px;
                                                height: 12.5px;
                                                padding: 0;
                                                line-height: 13px;
                                                text-align: center;
                                                border: 1px solid #ddd;
                                                i {
                                                    position: relative;
                                                    top: -2px;
                                                    &:before {
                                                        margin: 0;
                                                    }
                                                }
                                                &.btn-up {
                                                    top: 0;
                                                }
                                                &.btn-down {
                                                    bottom: 0;
                                                    border-top: 0;
                                                }
                                            }
                                            
                                        }
                                        .btn-remove {
                                            display: inline-block;
                                            font-size: 12px;
                                            color: #fff;
                                            width: 25px;
                                            height: 25px;
                                            line-height: 23px;
                                            vertical-align: top;
                                            margin-left: 5px;
                                            padding-bottom: 2px;
                                            background-color: #000;
                                        }
                                    }
                                    &:nth-of-type(1) {
                                        width: 60%;
                                    }
                                    &:last-child {
                                        text-align: right;
                                        padding-right: 10px;
                                    }
                                }
                                &:last-child {
                                    td {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .pop-foot {
                padding-top: 20px;
                .total {
                    padding: 10px 20px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    > dl {
                        font-size: 0;
                        > dt {
                            font-size: 13px;
                            color: #333;
                            display: inline-block;
                            font-weight: 400;
                            > b {
                                font-weight: 500;
                            }
                            &:after {
                                position: relative;
                                top: 1px;
                                content: ':';
                                margin: 0 5px;
                            }
                        }
                        > dd {
                            display: inline-block;
                            color: $kcolor;
                            strong {
                                font-size: 18px;
                                font-weight: bold;
                            }
                            small {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .btn-area {
                    font-size: 0;
                    margin-top: 10px;
                    padding: 0 20px;
                    .btn {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 13px;
                        font-weight: 400;
                        width: calc(50% - 5px);
                        margin-right: 10px;
                        line-height: 26px;
                        text-align: center;
                        border: 1px solid #ccc;
                        &.btn-buy {
                            color: #fff;
                            border-color: $kcolor;
                            background-color: $kcolor;
                        }
                        &.btn-basket {
                            color: #333;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .n-pay {
                    width: 100%;
                    margin-top: 10px;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .modal-content {
            .cart-pop {
                height: 700px;
                .pop-head {
                    padding-left: 35px;
                    h3 {
                        line-height: 45px;
                    }
                    .pop-close {
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                    }
                }
                .pop-body {
                    height: 390px;
                    padding: 25px;
                    .option {
                        > div {
                            &.item {
                                width: 20%;
                            }
                            &.selection {
                                padding-left: 25px;
                                vertical-align: top;
                                > dl {
                                    display: table;
                                    width: 100%;
                                    > dt {
                                        display: table-cell;
                                        width: 80px;
                                        vertical-align: middle;
                                    }
                                    > dd {
                                        display: table-cell;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                    .attention {
                        margin-bottom: 20px;
                    }
                    .table-wrap {
                        .table {
                            tbody {
                                tr {
                                    td {
                                        padding: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .pop-foot {
                    padding-top: 25px;
                    .total {
                        padding: 15px 25px;
                    }
                    .btn-area {
                        text-align: center;
                        margin-top: 25px;
                        padding: 0 25px;
                        .btn {
                            width: 137.5px;
                            font-size: 15px;
                            line-height: 32px;
                        }
                    }
                    .n-pay {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

body {
    &.show-modal {
        overflow: hidden;
        .modal-popup {
            display: block;
        }
    }
}

/* event-pop */
.event-pop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 90px 10px;
    .pop-wrap {
        width: 94%;
        margin: 0 auto;
        max-width: 400px;
        box-shadow: 10px 10px 50px #1a1a1a;
        .pop-content {
            overflow-x: auto;
            a {
                display: block;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
        .pop-foot {
            padding: 5px 10px;
            overflow: hidden;
            background-color: #000;
            > label {
                float: left;
                font-size: 13px;
                color: #fff;
                line-height: 20px;
                input[type="checkbox"] {
                    position: relative;
                    top: 1px;
                    margin: 0;
                }
            }
            .event-close {
                float: right;
                line-height: 20px;
                font-size: 13px;
                color: #fff;
            }
        }
    }
    @media(min-width: $lg) {
        padding: 0;
        top: 100px;
        left: 200px;
        margin: 0;
    }
}

/* event-pop */
.event-pop2 {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
    display: none;
    padding: 90px 10px;
    .pop-wrap {
        width: 94%;
        margin: 0 auto;
        max-width: 400px;
        box-shadow: 10px 10px 50px #1a1a1a;
        .pop-content {
            overflow-x: auto;
            a {
                display: block;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
        .pop-foot {
            padding: 5px 10px;
            overflow: hidden;
            background-color: #000;
            > label {
                float: left;
                font-size: 13px;
                color: #fff;
                line-height: 20px;
                input[type="checkbox"] {
                    position: relative;
                    top: 1px;
                    margin: 0;
                }
            }
            .event-close2 {
                float: right;
                line-height: 20px;
                font-size: 13px;
                color: #fff;
            }
        }
    }
    @media(min-width: $lg) {
        display: block;
        top: 100px;
        left: 600px;
        margin: 0;
        padding: 0;
    }
}
























































