@import 'common';

.add-addr {
	h3 {
		font-size: 16px;
		color: #fff;
		line-height: 40px;
		font-weight: 500;
		text-align: center;
		background-color: #2c375e;
	}
	.container {
		width: 100%;
		padding: 30px 15px 0;
		.table-wrap {
			.table {
				width: 100%;
				thead {
					tr {
						th {
							font-size: 14px;
							color: #333;
							font-weight: 500;
							text-align: center;
							padding: 10px 0;
							border-top: 1px solid #666;
							border-bottom: 1px solid #ccc;
							background-color: #f0f0f0;
						}
					}
				}
				tbody {
					tr {
						td {
							font-size: 14px;
							color: #333;
							line-height: 18px;
							font-weight: 400;
							padding: 10px;
							vertical-align: middle;
							text-align: center;
							border-bottom: 1px solid #ccc;
							address {
								font-style: normal;
							}
							input[type="radio"] {
								display: block;
								margin: 0 auto;
							}
						}
					}
				}
			}
			.btn-area {
				font-size: 0;
				overflow: hidden;
				text-align: right;
				margin-top: 40px;
				> a {
					display: inline-block;
					text-align: center;
					width: 150px;
					font-size: 16px;
					line-height: 35px;
					border-radius: 5px;
					color: #333;
					font-weight: 400;
					border: 1px solid #ccc;
					margin-right: 10px;
					&:first-child {
						float: left;
					}
					&:last-child {
						margin-right: 0;
					}
					&.btn-addr-write {
						color: #fff;
						border-color: #eb6100;
						background-color: #eb6100;
					}
				}
			}
		}
	}
}

/* add-write */
.add-write {
	.container {
		padding: 20px;
		.article-header {
			h3 {
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				color: #333;
				font-weight: 500;
				line-height: 20px;
			}
			> p {
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				line-height: 20px;
				margin-left: 10px;
				color: #666;
				span {
					color: $kcolor;
				}
			}
		}
		.table-wrap {
			margin-top: 30px;
			.table {
				width: 100%;
				border-top: 1px solid #666;
				tbody {
					tr {
						th {
							font-size: 14px;
							color: #333;
							font-weight: 400;
							width: 140px;
							padding: 0 10px;
							text-align: left;
							vertical-align: middle;
							border-bottom: 1px solid #ccc;
							background-color: #f8f8f8;
							&.necessary {
								&:after {
									content: ' *';
									color: $kcolor;
								}
							}
							&.top {
								vertical-align: top;
								padding-top: 10px;
								line-height: 30px;
							}
						}
						td {
							padding: 10px;
							border-bottom: 1px solid #ccc;
							.form-control {
								display: block;
								width: 100%;
								padding: 0 10px;
								color: #333;
								font-weight: 400;
								font-size: 12px;
								height: 30px;
								border: 1px solid #ccc;
								border-radius: 5px;
								& ~ .form-control {
									margin-top: 10px;
								}
							}
							label {
								display: inline-block;
								margin-right: 10px;
								> input[type="radio"] {
									position: relative;
									top: 1px;
									margin: 0;
								}
							}
							.btn-list {
								display: inline-block;
								width: 100px;
								font-size: 14px;
								line-height: 28px;
								color: #333;
								text-align: center;
								font-weight: 400;
								border-radius: 5px;
								border: 1px solid #aaa;
								background-color: #f7f7f7;
							}
							&.usr {
								.form-control {
									width: 300px;
								}
							}
							&.addr {
								.form-group {
									&:first-child {
										.form-control {
											display: inline-block;
											width: 100px;
											vertical-align: top;
										}
										.btn-search {
											display: inline-block;
											vertical-align: top;
											width: 50px;
											font-size: 14px;
											line-height: 28px;
											color: #333;
											text-align: center;
											font-weight: 400;
											border-radius: 5px;
											border: 1px solid #aaa;
											background-color: #f7f7f7;
											margin-left: 8px;
										}
									}
									& ~ .form-group {
										margin-top: 10px;
									}
								}
							}
							&.contact {
								.form-control {
									width: 80px;
									display: inline-block;
								}
								span {
									display: inline-block;
									width: 20px;
									text-align: center;
								}
							}
						}
					}
				}
			}
			.btn-area {
				font-size: 0;
				text-align: center;
				margin-top: 30px;
				> a {
					display: inline-block;
					text-align: center;
					width: 150px;
					font-size: 16px;
					line-height: 35px;
					border-radius: 5px;
					color: #333;
					font-weight: 400;
					border: 1px solid #ccc;
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
					&.btn-submit {
						color: #fff;
						border-color: $kcolor;
						background-color: $kcolor;
					}
				}
			}
		}
	}
}

.benefit {
    h3 {
		font-size: 16px;
		color: #fff;
		line-height: 40px;
		font-weight: 500;
		text-align: center;
		background-color: #2c375e;
	}
    .container {
        width: 100%;
		padding: 30px 15px 0;
        > div {
            h4 {
                font-size: 14px;
                color: #333;
                font-weight: 500;
                small {
                    font-size: 12px;
                    color: #333;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
            .form-group {
                margin-top: 10px;
                .form-control {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 60px);
                    height: 30px;
                    padding: 0 10px;
                    font-size: 14px;
                    margin-right: 5px;
                    border: 1px solid #ccc;
                }
                .btn-default {
                    display: inline-block;
                    vertical-align: top;
                    width: 50px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 12px;
                    color: #333;
                    border: 1px solid #ccc;
                    background-color: #f9f9f9;
                }
            }
            .table-wrap {
                margin-top: 10px;
                .table {
                    width: 100%;
                    border-top: 1px solid #666;
                    thead {
                        tr {
                            th {
                                font-size: 14px;
                                color: #333;
                                font-weight: 500;
                                text-align: center;
                                padding: 10px 0;
                                border-bottom: 1px solid #ccc;
                                background-color: #f0f0f0;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 14px;
                                color: #333;
                                font-weight: 400;
                                vertical-align: middle;
                                text-align: center;
                                padding: 10px 0;
                                border-bottom: 1px solid #ccc;
                                &.no-coupon {
                                    padding: 15px 10px !important;
                                    text-align: center !important;
                                }
                                &:first-child {
                                    padding: 10px;
                                    text-align: left;
                                    > .item {
                                        display: inline-block;
                                        vertical-align: middle;
                                        width: 50px;
                                        img {
                                            width: 100%;
                                            display: block;
                                        }
                                    }
                                    p {
                                        display: inline-block;
                                        vertical-align: middle;
                                        font-weight: 500;
                                        width: calc(100% - 55px);
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                > dl {
                    display: table;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    background-color: #f0f0f0;
                    dt {
                        display: table-cell;
                        font-size: 14px;
                        color: #333;
                        font-weight: 400;
                        vertical-align: middle;
                        padding: 15px 10px;
                    }
                    dd {
                        display: table-cell;
                        font-size: 16px;
                        color: $kcolor;
                        font-weight: 400;
                        text-align: right;
                        vertical-align: middle;
                        padding: 15px 10px;
                        b {
                            font-weight: bold;
                        }
                    }
                }
            }
            & ~ div {
                margin-top: 20px;
            }
        }
        .total {
            text-align: center;
            padding: 30px 20px;
            border: 2px solid #666;
            > ul {
                display: table;
                width: 100%;
                table-layout: fixed;
                > li {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    > dl {
                        > dt {
                            font-size: 14px;
                            color: #333;
                            font-weight: 400;
                        }
                        > dd {
                            margin-top: 20px;
                            font-weight: 400;
                            color: #333;
                            font-size: 20px;
                            b {
                                font-size: 24px;
                                font-weight: 500;
                            }
                            strong {
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }
                    }
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: -17px;
                        display: block;
                        font-size: 20px;
                        letter-spacing: 0;
                        font-weight: bold;
                        color: #fff;
                        width: 34px;
                        height: 34px;
                        line-height: 32px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: #8b90a3;
                        transform: translateY(-50%);
                    }
                    &:nth-of-type(1) {
                        &:after {
                            content: '+';
                        }
                    }
                    &:nth-of-type(2) {
                        &:after {
                            content: '-';
                        }
                    }
                    &:nth-of-type(3) {
                        &:after {
                            content: '=';
                        }
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                        > dl {
                            > dd {
                                color: $kcolor;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            font-size: 0;
            > a {
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                font-size: 16px;
                line-height: 40px;
                font-weight: 500;
                width: 160px;
                &.btn-success {
                    color: #fff;
                    border: 1px solid $kcolor;
                    background-color: $kcolor;
                }
                &.btn-cancel {
                    color: #333;
                    border: 1px solid #ddd;
                    background-color: #fdfdfd;
                }
            }
        }
    }
}

















































